@model List<MinesweeperModels.PlayerStat>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(m => Model[0].playerName)
        </th>
        <th>
            @Html.DisplayNameFor(m => Model[0].difficulty)
        </th>
        <th>
            @Html.DisplayNameFor(m => Model[0].timeLapsed)
        </th>
        <th>
            @Html.DisplayNameFor(m => Model[0].score)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(m => item.playerName)
            </td>
            <td>
                @Html.DisplayFor(m => item.difficulty)
            </td>
            <td>
                @Html.DisplayFor(m => item.timeLapsed)
            </td>
            <td>
                @Html.DisplayFor(m => item.score)
            </td>
        </tr>
    }
</table>
